### Challenge 2: Custom Missing Value Handling with SimpleImputer

**Topic:** Handling Missing Values (SimpleImputer)  

**Problem Description:**  
You are given a dataset represented as a Pandas DataFrame. Some columns may contain missing values (`NaN`). Your task is to write a function to handle missing values with the following rules:
1. Impute missing values in numeric columns using the **mean** of the column.
2. Impute missing values in categorical columns (non-numeric) using the **most frequent value**.
3. Drop any columns where more than **40%** of the values are missing.
4. Return the cleaned dataset.

**Function Signature:**  
```python
def handle_missing_values(data: pd.DataFrame) -> pd.DataFrame:
    """
    Handle missing values in the dataset with custom rules.

    Args:
    data (pd.DataFrame): Input dataset with missing values.

    Returns:
    pd.DataFrame: Cleaned dataset with missing values handled.
    """
```

**Constraints:**
1. The input DataFrame can have both numeric and non-numeric columns.
2. If all columns are dropped due to missing value thresholds, return an empty DataFrame.
3. The column types should remain consistent with the input dataset.

**Example Input:**  
```python
import pandas as pd
import numpy as np

data = pd.DataFrame({
    'A': [1, 2, np.nan, 4],
    'B': [np.nan, 2, np.nan, 4],
    'C': ['cat', 'dog', np.nan, 'dog'],
    'D': [np.nan, np.nan, np.nan, np.nan]
})
```

**Example Output:**  
For the above input, the function should return:  
```python
     A    B    C
0  1.0  3.0  cat
1  2.0  2.0  dog
2  2.333333  3.0  dog
3  4.0  4.0  dog
```

**Hints:**  
1. Use `SimpleImputer` from `sklearn.impute` to handle imputations for numeric and categorical columns.
2. Use Pandas operations to determine the percentage of missing values in each column and filter columns accordingly.
3. Be cautious about type preservation when applying transformations.
---

# Solution

In [1]:
import pandas as pd
from sklearn.impute import SimpleImputer

def handle_missing_values(data: pd.DataFrame) -> pd.DataFrame:
    """
    Handle missing values in the dataset with custom rules.

    Args:
    data (pd.DataFrame): Input dataset with missing values.

    Returns:
    pd.DataFrame: Cleaned dataset with missing values handled.
    """
    # Step 1: Drop columns where more than 50% of values are missing
    threshold = len(data) * 0.6
    data = data.dropna(thresh=threshold, axis=1).copy()

    # Step 2: Identify numeric and non-numeric columns
    numeric_cols = data.select_dtypes(include='number').columns
    non_numeric_cols = data.select_dtypes(exclude='number').columns

    # Step 3: Impute numeric columns with mean
    if not numeric_cols.empty:
        imputer_num = SimpleImputer(strategy='mean')
        data[numeric_cols] = imputer_num.fit_transform(data[numeric_cols])

    # Step 4: Impute non-numeric columns with most frequent value
    if not non_numeric_cols.empty:
        imputer_cat = SimpleImputer(strategy='most_frequent')
        data[non_numeric_cols] = imputer_cat.fit_transform(data[non_numeric_cols])

    # Return the cleaned dataset
    return data

### **Time and Space Complexity:**

1. **Time Complexity:**
   - Dropping columns: $O(m \cdot n)$, where $m$ is the number of rows and $n$ is the number of columns.
   - Imputation:
     - Numeric columns: $O(k \cdot m)$, where $k$ is the number of numeric columns.
     - Non-numeric columns: $O(l \cdot m)$, where $l$ is the number of non-numeric columns.
   - Overall: $O(m \cdot n)$.

2. **Space Complexity:**
   - Imputer objects and temporary transformed arrays are $O(m \cdot n)$, depending on the DataFrame's size.

---

# Example Implementation:

In [2]:
import pandas as pd
import numpy as np

In [3]:
data = pd.DataFrame({
    'A': [1, 2, np.nan, 4],
    'B': [np.nan, 2, np.nan, 4],
    'C': ['cat', 'dog', np.nan, 'dog'],
    'D': [3, 4, np.nan, 6]
})

In [4]:
data

     A    B    C    D
0  1.0  NaN  cat  3.0
1  2.0  2.0  dog  4.0
2  NaN  NaN  NaN  NaN
3  4.0  4.0  dog  6.0

In [5]:
imputed_data = handle_missing_values(data)

In [6]:
imputed_data

          A    C         D
0  1.000000  cat  3.000000
1  2.000000  dog  4.000000
2  2.333333  dog  4.333333
3  4.000000  dog  6.000000